body {
  margin: 0;
  text-align: center;
  font-family: 'Amiri', serif;
  font-size: 200%;
  color:#40514E;
}

.top_container {
  background-color: #EAF6F6;
  margin: 0;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin:100px 0;
}

.bottom-container {
background-color: #66BFBF;
margin: 0;
padding-top: 20px;
position: relative;

}

.web {
  color: Red;
  font-style: italic;
  font-size: 22px;
}

.cloud1 {
  position:absolute;
  right:550px;
  top:50px;
}


.cloud2 {
  position: absolute;
  left:550px;


}

h1 {

  position: relative;
  margin: 0 auto 0 auto;
  top:10px;
  font-family: 'Henny Penny', cursive;
  font-size: 3.125rem;
  color:#66BFBF;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2;
}

h3 {
  color: #11999E;
  text-align: left;

}

p {

  font-family: 'Patrick Hand', cursive;
  font-size: 1.5625rem;
  text-align: left;
  line-height: 2;

}

.desc-of-hello {
  text-align: center;
  width: 100%;
}
.skill-row {

  margin: 100px auto 100px auto;
  width: 50%;
}

.skills_img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gameimg {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 4%;
  text-align: center;
  margin: 100px auto;
}

.contact-me {
  margin: 100px auto 100px auto;
  width: 50%;
}

.h3-of-contact {
  text-align: center;
}

.par-of-contact {
  text-align: center;

}

.bottom-par {
  text-align: center;
  margin-bottom: 0;
  color: white;
  padding-bottom: 20px;
  font-size: 1rem;

}

.footer-link {
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;

}

.footer-link:hover {
  color: #EAF6F6;
}


.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 22px;
   font-weight: 200;
   padding: 21px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
